<div class="main" role="main">
  <div class="container">

    <div class="row">
      <div class="col-sm-6">

        <!-- Marketing -->
        <div class="marketing">
          <div class="app-meta">
            {% if site.enable.app_icon %}
              <img
                class="app-icon"
                style="min-width: 92px;"
                height="auto"
                {% if site.app.icon %} src="{{ site.app.icon }}"{% endif %}
              />
            {% endif %}
            <span class="app-name">{{ site.app.name }}</span>
          </div>

          {% if site.marketing_header %}
          <h2 class="marketing-header">{{ site.marketing_header }}</h2>
          {% endif %}

          <p class="marketing-desc">{{ site.marketing_desc }}</p>
          <div class="buttons">
            <a
              href="https://api.whatsapp.com/send?phone=5491173603358&text=Cuentame">
              <img {% if site.whatsapp_button %}src="{{ site.whatsapp_button}}"{% endif %}  alt="wpp button" height="200px">
            </a>
            <img {% if site.qr_code_button %}src="{{ site.qr_code_button}}"{% endif %} alt="qr button" height="200px">
          </div>
        </div>
      </div>


      <div class="col-sm-6">

        <!-- App Preview or Screenshot(s) -->
        <div class="device {{ site.device }}">
          {% if site.app.video %}
               <div class="video-container">
                <iframe src="{{ site.app.video }}" height="426.66" width="240" allowfullscreen="" frameborder="0">
                </iframe>
              </div>

          {% else %}
          <a href="https://api.whatsapp.com/send?phone=5491173603358&text=Cuentame">
            <img
             class="app-screenshot"
             {% if site.app.screenshot %}src="{{ site.app.screenshot }}"{% endif %}
            />
          </a>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
</div>

<div class="social">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% include social.html %}
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <div class="container">
    <!-- footer text here -->
  </div>
</div>
